hl.on("hyprland.start", function()
    hl.exec_cmd("waybar")
    hl.exec_cmd("awww-daemon")

    hl.exec_cmd("Telegram -startintray")
    hl.exec_cmd("firefox", { workspace = "name:web" })

    hl.exec_cmd("wl-paste --type text --watch cliphist store")
    hl.exec_cmd("wl-paste --type image --watch cliphist store")

    hl.exec_cmd("systemctl --user start hyprpolkitagent")
    hl.exec_cmd("hypridle")
    {{- if eq .machine "laptop" }}
    hl.exec_cmd("nm-applet")
    {{- end }}
end)
