source = colors.conf

$font = {{ .fonts.family }}
$font_size = {{ (index .fonts .machine).hyprlock }}

$bg = $surface
$bg_alt = $surface_container
$fg = $on_surface
$fg_dim = $on_surface_variant
$accent = $primary

$text_start_x = 820

general {
    hide_cursor = true
    ignore_empty_input = true
}
animations {
    enabled = true
}

background {
    monitor =
    color = $bg
}

# Input
input-field {
    monitor =
    size = 300, 48
    rounding = 0
    outline_thickness = 1
    inner_color = $surface_container
    outer_color = $primary
    check_color = $primary
    fail_color = $error
    font_color = $accent
    fade_on_empty = false
    font_family = $font Bold
    placeholder_text = password
    fail_text = authentication failed
    dots_text_format = *
    dots_size = 0.32
    dots_spacing = 0.32
    position = 0, 0
    halign = center
    valign = center
}

# Welcome
label {
    text = welcome, $USER!
    font_family = $font Bold
    font_size = $font_size
    color = $accent
    halign = left
    valign = center
    position = $text_start_x, 137
}

# Date
label {
    text = cmd[update:60000] echo "<span foreground='##c4c5d6'>date: </span>$(date +'%d %b, %a.' | awk '{print tolower($0)}')"
    font_family = $font
    font_size = $font_size
    color = $on_surface
    halign = left
    valign = center
    position = $text_start_x, 104
}

# Time
label {
    text = cmd[update:3000] echo "<span foreground='##c4c5d6'>time: </span>$(date +'%H:%M')"
    font_family = $font
    font_size = $font_size
    color = $on_surface
    halign = left
    valign = center
    position = $text_start_x, 79
}
